@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
.flex-qr-code-wrapper {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}
@media print {
  #adminmenuback,
  #wpfooter,
  #adminmenuwrap {
    display: none;
  }
  .d-none {
    display: none !important;
  }
}
.modal-width {
  width: 650px;
}

#wpfooter {
  display: none;
}

.svg-container {
  width: 100px;
  height: 100px;
}
