@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
.flex-qr-code-wrapper {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}
@media print {
  #adminmenuback,
  #wpfooter,
  #adminmenuwrap {
    display: none;
  }
  .d-none {
    display: none !important;
  }
}
.modal-width {
  width: 650px;
}

#wpfooter {
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 100px;
  /* object-fit: contain; */
}
